.first-page {
  width:100%;
  position: relative;
  .back-img {
    width:100vw;
    position: absolute;
    top:0px;
    left:0px;
  }
  .first-page-inner {
    position: absolute;
    top:90vw;
    left:0px;
    width:100vw;
    .inner-text {
      color:white;
      font-size: 7vw;
      width: 100%;
      text-align: center;
      margin-top: 10vw;
    }
    .input-frame {
      position: absolute;
      width:50vw;
      left:24vw;

      input {
        width:100%;
        margin-bottom: 5vw;
        height:4vw;
        padding: 5px;
      }
      .btn-submit {
        background-color: #e45a8b;
        width: 30vw;
        height:40px;
        line-height: 40px;
        text-align: center;
        margin: auto;
        color:white;
      }
      .btn-submit-img {
        width:40vw;
        margin-left: 5vw;
        margin-top: -2vw;
      }
    }

  }

}
